<body>
    <div class="main">
      <div class="container">
      <h1>TIME FOR BROADWAY</h1>
      <h3>An audition management system for the Internet Age. </h3>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <div class="col">
          <h2>ACTORS</h2>
          <p>Sign up with your Equity Card and book auditions online. No more getting up at 5AM to sign your name on a sheet of paper. No more waiting 8 hours to not get seen by casting directors.</p>
        </div>
        <div class="col">
          <h2>CASTING DIRECTORS</h2>
          <p>Create auditions, manage check-in online, text your actors, and update audition wait-times instantaneously.</p>
        </div>
        <div class="col">
          <h2>AUDITIONS</h2>
          <p>Actors and Casting Directors can manage all auditions on one platform. Built in accountability. Your time is too valuable to be wasted.</p>
        </div>
        
        <div class="clearfix"></div>
      </div>
    </div>


    <div class="castingdirector">
      <div class="container">
        <h1>CASTING DIRECTORS</h1>
        <button type="button" class="btn"><a href="#">SIGN UP</a></button>
      </div>
    </div>
    
    <div class="supporting2">
      <div class="container">
          <h1>ACTORS</h1>
          <p>Be discovered for the star you are - without the wait </p>
          <a class="s-a"href="#">SIGN UP</a>
      </div>
    </div>
    
    <div class="footer">
        <div class="container">
            <p>created by AL, CR, CF and DS</p>
        </div>
    </div>

  </body>
</html>