/* Footer */
.footer {
	background-color: #000;
}

.footer .container {
	color: #fff;
	font-family: 'Bubbler One', sans-serif;
	margin: 0 auto;
	height: 100px;
}

.group p {
	float: left;
	padding: 20px, 20px, 20px, 20px;
	margin-top: 45px;
}

.trademark p{
	float: right;
	margin-top: 45px;
	
}