
// Main Time For Broadway Header
.main {
  background:url('http://www.theauditionreport.com/files/2012/07/the-book-of-mormon_article_story_main.jpeg') no-repeat center right;
  background-size: 35%;
  margin-right: 50px;
  color:#d65636;
     .container {
          text-align:left;
          height: 500px;
          border-bottom: 1px solid #d5d5d5;
        }
      h1{
          font-family: 'Londrina Shadow', cursive;
          font-size: 160px;
          padding-top:20px;
          margin-left: 100px;
        }
      h3 {
          font-family: 'Bubbler One', sans-serif;
          display:block; 
          margin-left:150px;
        }
 }
