.star {
    background-color: #eae6e6; 
      .container {
          background:url('http://www.madestatic.com/media/catalog/product/cache/1/replacement_main_image/2889x1500/9df78eab33525d08d6e5fb8d27136e95/b/r/broardway_small_star_lb1_1_1.jpg') no-repeat center center;
          background-size: 50%;
          height: 300px;
          color:#d6d6d4;
        }
      }
        