<!DOCTYPE html>
<html>
<head>
  <title>Timeforbroadway</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




<%= yield %>

 <div class="footer">
        <div class="container">
            <a href="#">START NOW</a>
        </div>
    </div>

</body>
</html>
