<!DOCTYPE html>
<html>
<head>
  <title>Timeforbroadway</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Londrina+Outline|Bowlby+One+SC|Raleway+Dots|Ribeye+Marrow|Londrina+Shadow|Bubbler+One|Amiri' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="main">
      <div class="container">
      <h1>TIME FOR BROADWAY</h1>
      <h3>An audition management system for the Internet Age. </h3>
      </div>
    </div>

<%= yield %>

<div class="footer">
  <div class="container">
    <div class="group">
      <p>Created by Asia Lindsay, Carly Robinson, Chery Falcon, and Donald Steinert</p>
    </div>
    <div class="trademark">
      <p>Codecademy Labs 2015</p>
    </div>
</div>
</div>

</body>
</html>
